body {
    font-family: arial;
    text-shadow: none;
    color: #000;
    background: #fff;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-family: Times New Roman;
    line-height: 100%;
    font-weight: normal;
}

.video iframe {
    /*width: 620px;*/
}

section {
    background: #fff;
    padding: 50px 0 50px;
}

p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 25px;
}

p.last{
    padding-bottom: 0;
}

p.small{
    font-size: 14px;
}

ul {
    margin: 20px 0 20px 18px;
}

li {
    font-size: 16px;
    line-height: 24px;
    padding-left: 15px;
    margin-bottom: 20px;
}

h1.main-heading {
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
    padding-bottom: 25px;
}

h2.main-heading {
    font-size: 48px;
    font-weight: normal;
    line-height: 56px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    background: url(../img/hor-line.png) no-repeat bottom center;
}

h3 {
    font-family: Arial;
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 0;
}

h3.main-heading {
    font-size: 36px;
    padding-bottom: 42px;
    margin-bottom: 30px;
    background: url(../img/hor-line.png) no-repeat bottom left;
    line-height: 42px;
    font-family: "Times New Roman";
}

h4 {
    font-family: Arial;
    font-size: 21px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 0;
}

h4.small {
    font-size: 18px;
    line-height: 24px !important;
    font-weight: bold;
}

.links {
    margin-top: 20px !important;
}

.align-right {
    text-align: right;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

a:hover {
    color: #ffffff;
    text-decoration: none !important;
}

li
{
    font-weight: normal;
}

.desc-heading {
    /*margin-top: 100px;*/
    color: #000;
    font-size: 22px;
    text-shadow: 1px 1px 2px #666;
    font-weight: 500;

}

.hr-top,
.hr-top-s {
    background: url(../img/hor-line.png) no-repeat;
    margin-top: 40px !important;
    padding-top: 40px;
}

.hr-top-s {
    background-position: -160px 0;
}

.accent-color {
    color: #d71635;
}

.white-text {
    color: #fff;
}

.quote-left {
    float: left;
}

.quote-right {
    float: right;
}

.clearfix {
    clear: both;
}

::-moz-selection {
    background: #fff;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fff;
    color: #fff;
    text-shadow: none;
}

.parallax-bg {
    z-index: -1 !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

#intro {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

#intro .bg1 {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
}

.parallax-bg {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
}

#intro-globe {
    margin-top: 30px;
}

#intro-heading {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: normal;
    color: #000;
}

.main-heading span {
    padding-bottom: 16px;
    color: #fff;
}

.social-button {
    float: left;
    margin-right: 20px;
}

.share-btns{
    text-align: center;
    margin-top: 60px;
}

.copyright {
    margin: 88px 0 0 -30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 55px
}

.copyright p{
    padding: 15px 0;
    color: #b7b7b7;
    text-align: center;
}
/*custom style*/
section #page5 {
    padding-top: 130px;
}

.mt30{
    margin-top: 30px;
}

.subtitle{
    font-size: 18px;
    font-weight: bold;
}

.digit{
    font-size: 24px;
    color: #fff;
    background: #8f8129;
    padding: 5px 20px;
    display: inline-block;
}
.add-top-half {
    margin-top: 25px;
}

.times {
    font-family: "Times New Roman";
}

.author img {
    margin-right: 25px;
}

.author p {
    font-size: 18px;
    color: #707070;
    margin-bottom: 40px;
}

.share-btn{
    width: 148px;
    height: 28px;
    display: inline-block;
    background: url(../img/share-btn.png) center center no-repeat;
    margin-top: 10px;
}

.text-italic{
    font-style: italic;
}

.video .share-btn{
    margin-bottom: 35px;
}


.custom-table{
    text-align: center;
    width: 100%;
}

.custom-table tr{
    height: 35px;
    vertical-align: middle;
}

.custom-table tr:first-child{
    font-size: 16px;
}
.custom-table tr{
    font-size: 18px;
}
.custom-table tr td{
    border: 2px solid #ffffff;
    background: #ebebeb;
}
.custom-table tr>td:first-child{
    width: 115px;
    background: #d7d7d7;
}
hr{
    border: solid 1px #bbb066;
}
/*/custom style*/

@media (min-width: 1200px) {

    .container,
    .span12 {
        width: 940px;
    }

    .row {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {


    body {
        padding-left: 0px;
        padding-right: 0px;

        text-align: center;
    }

    p, ol, ul{
        text-align: left;
    }

    iframe {
        width: 400px;
        height: 224px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-heading span {
        border-bottom: none;
        color: #000000;
        padding-bottom: 16px;
    }

    .parallax-bg, .parallax-removed {
        background-attachment: scroll !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        box-shadow: none;
    }
}


@media screen and (max-width: 979px) {
    iframe {
        width: 450px;
        height: 252px;
    }
}

@media screen and (max-width: 479px) {
    .container {
        padding: 0 10px;
    }

    iframe {
        width: 300px;
        height: 168px;
    }
}

